/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/install.lock
/storage/pail
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# 忽略静态生成的 HTML 文件
/public/*.html